*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}


h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    color: black;
    font-family: 'Roboto' , sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;

}

.calculator {
    width: 400px;
    border: 2px black solid;
    border-radius: 15px;
    margin-top: 80px;
    color: black;
    padding: 20px;
    background-color: rgba(118, 127, 119, 0.85);
    font-size: 30px;
}

.display {
    padding: 40px 20px;
    border: 2px black solid;
    border-radius: 15px;
    background-color: aliceblue;
    text-align: right;  
    margin-bottom: 20px;
}
.pre-operand {
    padding: 10px;
}
.curr-operand {
    padding: 10px;
}

.buttons-place {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    border: 2px black solid;
    border-radius: 4px;
    font-size: 30px;
}
.op{
  background-color: aqua;  
}
.span-two {
    
    background-color: rgb(188, 50, 50);
    grid-column:  span 2;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

